//
// Typography
//

%text-reset {
	color: inherit;
	font-style: inherit;
	text-shadow: inherit;
	text-transform: inherit;
}

%text-blocky {
	color: $heading-color;
	text-shadow: -2px 2px 1px $silver;
	text-transform: uppercase;
}

%text-light {
	color: $gray;
}

%text-airy {
	color: $silver;
	font-style: italic;
}

//
// Decorative
//

%boxshadow-large {
	border: 1px solid $haze;
  box-shadow: 0px 0px 16px $haze;
}

%border-bottom-dotted {
	border-bottom: 1px dashed $gray-light;
}

//
// Layout
//

%section-basics {
	clear: both;
	margin: 0 1em;
	padding: 0 0 2em 0;
	> * {
		padding: 0 8px;
	}
	&:last-child {
		// padding-bottom: 0;
	}
}

%item-basics {
	margin-bottom: 2em;
	&:last-child {
		margin-bottom: 0;
	}
}

%flex-container-small {
  .section-title {
  	width: 100%;
  }
	@include respond-to($tiny) {
		display: flex;
		flex-wrap: wrap;
	}
}
%flex-item-small {
  @include respond-to($tiny) {
  	width: 33%;
  }
}
%flex-item-medium {
  @include respond-to($tiny) {
  	width: 50%;
  }
  @include respond-to(45em) {
  	width: 33%;
  }
}
%flex-item-large {
  @include respond-to($tiny) {
  	width: 50%;
  }
}