//
// Typography
//

$source-sans-pro-reg: 'Source Sans Pro', sans-serif;

$bold: 700;
$regular: 400;

//
// Colors
//

$slate: #6e6e6f;
$gray: #acacac;
$silver: #cecdcd;
$gray-light: #d1d2d1;
$haze: #f0efef;
$teal: #75919e;

$heading-color: $slate;
$body-color: $slate;
$link-color: $teal;